<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/style/style.css' />
  <script src="./script/manage.js" type="module"></script>
</head>

<body>
  <header class="container">
    <nav class="nav">
      <div class="nav-left">
        <a class="brand" href="index.html"><img
            src="https://cdm16007.contentdm.oclc.org/iiif/2/p267401coll32:4553/100,0,1100,1100/150,150/0/default.jpg"
            alt="logo"></a>
        <h1 class="brand text-light">
          Where's Religion Users
          <i class="fa fa-cubes"></i>
        </h1>
      </div>
      <div class="nav-right tabs">
        <a id="username" href="index.html" class="bg-light">Profile</a>
        <a href="manage.html" class="bg-light">Users</a>
        <button href="index.html" class="bg-light" is="auth-button" disabled style="visibility: hidden;"></button>
      </div>
    </nav>
  </header>

  <div class='container card'>
    <p>Welcome to <%= title %>, a login service for the Where's Religion project hosted by Saint Louis University's Open Source with SLU group.</p>
    <ul>
      <li><a href="/index.html">Login or Register</a></li>
    </ul>
</body>

</html>
